<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <menu>
    <ul>
      <li>Главная</li>
      <li><a href="catalog/catalog.html">Каталог</a></li>
      <li>Контакты</li>
    </ul>
  </menu>
  <h1>Главная страница</h1>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Unde est sint at
    minus, nam magnam, nisi neque sit ullam quis suscipit nemo odit. Sit quos
    deserunt commodi corrupti hic vero?</p>
  <h2>Добро пожаловать на сайт</h2>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Unde est sint at
    minus, nam magnam, nisi neque sit ullam quis suscipit nemo odit. Sit quos
    deserunt commodi corrupti hic vero?</p>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Unde est sint at
    minus, nam magnam, nisi neque sit ullam quis suscipit nemo odit. Sit quos
    deserunt commodi corrupti hic vero?</p>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Unde est sint at
    minus, nam magnam, nisi neque sit ullam quis suscipit nemo odit. Sit quos
    deserunt commodi corrupti hic vero?</p>
  
</body>

</html>