<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/3f27ae9b39.js"
        crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700;800&family=Roboto:ital,wght@0,500;1,100&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="bg-wrap">
        <header class="header">
            <div class="container">
                <nav class="header-menu">
                    <a href="#" class="header-link">Home</a>
                    <a href="#" class="header-link">Home</a>
                    <a href="#" class="header-link">Home</a>
                    <a href="#" class="header-link">Home</a>
                    <a href="#" class="header-link">Home</a>
                </nav>
            </div>
        </header>
        <section class="ai">
            <div class="container flex">
                <div class="ai-left">
                    <h3 class="subtitle">Next genaretion platform</h3>
                    <h1 class="title">Artificial intelligence & Syber security
                    </h1>
                    <p class="dsc">Lorem ipsum is placeholder text commonly used
                        in
                        the graphic, print, and publishing industries for
                        previewing
                        layouts and visual mockups.</p>
                    <div class="link-box">
                        <a href="#" class="button-link">Get Started</a>
                        <a href="#" class="button-link middle"><i
                                class="fa fa-duotone fa-play"></i>Watch
                            Video</a>
                    </div>
                </div>
                <div class="ai-right">
                    <img src="img/ai.png" alt="ai" class="ai-pic">
                </div>
            </div>
        </section>
        <section class="logos">
            <div class="container flex">
                <img src="img/Group 400.png" alt="logo1" class="logo">
                <img src="img/Group 401.png" alt="logo2" class="logo">
                <img src="img/Group 402.png" alt="logo3" class="logo">
                <img src="img/Group 403.png" alt="logo4" class="logo">
            </div>
        </section>
    </div>
    <section class="apply-ai">
        <div class="container flex apply-ai__container">
            <div class="apply-ai__left">
                <img src="img/apply-ai.png" alt="apply-ai">
            </div>
            <div class="apply-ai__right">
                <h3 class="apply-ai__heading">Apply AI, Deep Learning and Data
                    Sciece to solve</h3>
                <p class="apply-ai__description">Lorem ipsum is placeholder text
                    commonly used in the graphic, print, and publishing
                    industries for previewing layouts and visual mockups.</p>
                <a href="#" class="button-link">Learn More</a>
            </div>
        </div>
    </section>
    <section class="awards">
        <div class="container">
            <ui class="awards__list">
                <li class="awards__item">
                    <img class="awards__img" src="img/expert.svg" alt="expert">
                    <h5 class="awards__heading">Expert Prespective Agency Awards
                    </h5>
                    <p class="awards__text">Lorem ipsum is placeholder text
                        commonly used in print,
                        and publishing industries for previewing layouts and
                        visual mockups.</p>
                </li>
                <li class="awards__item">
                    <img class="awards__img" src="img/business.svg"
                        alt="business">
                    <h5 class="awards__heading">Business Prespective Global
                        Agency Awards</h5>
                    <p class="awards__text">Lorem ipsum is placeholder text
                        commonly used in print,
                        and publishing industries for previewing layouts and
                        visual mockups.</p>
                </li>
                <li class="awards__item">
                    <img class="awards__img" src="img/value.svg" alt="expert">
                    <h5 class="awards__heading">Value for Results in Global
                        Agency Awards</h5>
                    <p class="awards__text">Lorem ipsum is placeholder text
                        commonly used in print,
                        and publishing industries for previewing layouts and
                        visual mockups.</p>
                </li>
            </ui>
        </div>
    </section>
    <section class="feedback">
        <div class="container flex">
            <div class="feedback__left">
                <h2 class="feedback__heading">What our clients say about our
                    awesome solutions</h2>
                <p class="feedback__text">To take a trivial example, which of us
                    ever undertakes laborious physical exercise,
                    except to obtain some advantage from it who do not know.</p>
                <p class="feedback__text">Lorem ipsum is placeholder text
                    commonly used in the graphic, print, and publishing .</p>
                <p class="feedback__text">Lorem ipsum is placeholder previewing
                    layouts and visual mockups.</p>
                <p class="feedback__text">Lorem ipsum is placeholder text
                    commonly used in the graphic, print,
                    and publishing industries for previewing layouts and visual
                    mockups.</p>
            </div>
            <img class="feedback__right" src="img/about.svg" alt="about">
        </div>
    </section>
    <footer class="footer">
        <div class="container flex">
            <div class="footer__information">
                <h6 class="footer__heading">information</h6>
                <div class="footer__item">
                    <img src="img/mail.svg" alt="mail">
                    <span class="footer__item-text">Company@gmail.com.com</span>
                </div>
                <div class="footer__item">
                    <img src="img/phone.svg" alt="phone">
                    <span class="footer__item-text">Phone: (064) 332-1233</span>
                </div>
                <div class="footer__item">
                    <img src="img/location.svg" alt="location">
                    <span class="footer__item-text">450 Wall Street, USA, New
                        York</span>
                </div>
            </div>
            <div class="footer__information">
                <h6 class="footer__heading">about the store</h6>
                <p class="footer__about-text">Lorem ipsum is placeholder text
                    commonly used in the graphic,
                    print, and layouts and visual mockups.</p>
            </div>
            <div class="footer__information">
                <h6 class="footer__heading">about the store</h6>
                <p class="footer__site">www.company.com</p>
                <div class="footer__social-network">
                    <a href="#"><img src="img/twitter.svg" alt="twitter"></a>
                    <a href="#"><img src="img/linkedin.svg" alt="linkedin"></a>
                    <a href="#"><img src="img/youtube.svg" alt="youtube"></a>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>