<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home work 5</title>
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <div class="top">
    <header class="header">
      <div class="container header__container">
        <a class="header__logo" href="index.html"><img src="img/logo.png"
            alt="logo"></a>
        <div class="menu">
          <a class="menu__item menu__home" href="#">Home</a>
          <a class="menu__item" href="#">About Us</a>
          <a class="menu__item" href="#">Services</a>
          <select class="menu__item features" name="features">
            <option value="features">Features</option>
            <option value="test1">test 1</option>
          </select>
          <a class="menu__item" href="#">Team</a>
          <a class="menu__item" href="#">Blog</a>
          <a class="menu__item" href="#">Contact</a>
        </div>
      </div>
    </header>
    <div class="top__content">
      <div class="container top__container">
        <div class="top__info">
          <h1 class="top__title">SEO & Digital<br> Marketing For Your<br>
            Website.
          </h1>
          <p class="top__text">Provide all kind of seo services and help to
            improve
            seo ranking. Globally incubate standards.</p>
          <div class="top__buttons">
            <button class="top__button-start">Start Now</button>
            <button class="top__button-watch">Watch Video</button>
          </div>
        </div>
        <img src="img/top-img.png" alt="top img">
      </div>
    </div>
    <div class="top__logos">
      <div class="container top-logos__container">
        <img src="img/logo1.png" alt="logo">
        <img src="img/logo2.png" alt="logo">
        <img src="img/logo3.png" alt="logo">
        <img src="img/logo4.png" alt="logo">
        <img src="img/logo5.png" alt="logo">
        <img src="img/logo6.png" alt="logo">
      </div>
    </div>
  </div>
</body>

</html>