@import url(fonts/font.css);

* {
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.header__container {
  display: flex;
  justify-content: space-between;
}

.header__logo {
  margin-top: 40px;
}

.menu {
  margin-top: 51px;
  display: flex;
  width: 533px;
  justify-content: space-between;
  align-items: center;
}

.menu__item {
  text-decoration: none;
  color: black;
  font-family: Gilroy;
  font-size: 1rem;
}

.menu__home {
  color: #F25822;
}

.features {
  background: none;
  border: none;
}

.top__content {
  padding: 84px 0 162px;

}

.top__container {
  display: flex;
  justify-content: start;
}

.top__info {
  max-width: 522px;
  margin-right: 39px;
}

.top__title {
  margin-bottom: 17px;
  font-size: 60px;
  font-family: Gilroy;
  font-weight: bold;
}

.top__text {
  font-size: 20px;
  font-family: Gilroy;
  font-weight: medium;
  color: #888;
}

.top__buttons {
  margin-top: 37px;
}

.top__button-start,
.top__button-watch {
  border: none;
  font-family: Gilroy;
  font-weight: bold;
  font-size: 15px;
  padding: 15px 30px;
}

.top__button-start {
  border-radius: 23px;
  background-color: #F25822;
  color: #FFF;
}

.top__button-watch {
  color: #AAA;
  background: none;
}

.top__logos {
  padding: 97px 0;
}

.top-logos__container {
  display: flex;
  justify-content: space-between;
}

.features{
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}

.features__item{
  max-width: 310px;
}
.features__item-center{
  padding: 40px 30px 25px;
  box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
}
.features__img{
  margin-bottom: 25px;
}

.features__heading{
  font-family: Gilroy;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 17px;
}

.features__text{
  font-family: Gilroy;
  font-weight: normal;
  font-size: 15px;
  margin-bottom: 25px;
  color: #666;
}

.features__link{
  font-family: Gilroy;
  font-weight: bold;
  font-size: 11px;
  text-decoration: none;
  color: #000;
}

.why-us{
  background: #FAFAFA;
}

.services{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 92px 0 100px;
}

.services__main-heading{
  font-family: Gilroy;
  font-size: 45px;
  font-weight: bold;
  margin-bottom: 19px;
}

.services__main-text{
  color: #666;
  text-align: center;
  font-family: Gilroy;
  font-size: 16px;
  font-weight: normal;
  line-height: 24px;
  width: 700px;
  margin-bottom: 54px;
}

.services__list{
  display: flex;
  justify-content: space-between;
  gap: 30px;
  list-style: none;
}

.services__item{
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services__item-center{
  box-shadow: 15px 25px 60px -5px rgba(0, 0, 0, 0.10);
}

.services__heading{
  font-family: Gilroy;
  font-size: 24px;
  font-weight: bold;
  margin: 25px 0 22px;
}

.services__text{
  color: #AAA;
  text-align: center;
  font-family: Gilroy;
  font-size: 15px;
  font-weight: normal;
  line-height: 150%; /* 22.5px */
  margin: 0 30px 39px;
}

.services__button{
  color: #FFF;
  text-align: center;
  font-family: Gilroy;
  font-size: 13px;
  font-weight: bold;
  line-height: 150%; /* 19.5px */
  background-color: #F25822;
  padding: 15px 30px;
  border-radius: 25px;
  border: none;
  margin-bottom: 50px;
}

.services__button-arrow{
  margin-left: 6px;
}