<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../style.css">
</head>

<body>
  <menu>
    <ul>
      <li><a class="menu-link" href="../index.html">Главная</a></li>
      <li><a class="menu-link" href="#">Каталог</a></li>
      <li><a class="menu-link" href="#">Контакты</a></li>
    </ul>
  </menu>
  <h1 class="heading-1">Каталог</h1>
  <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt molestias
    omnis quasi! Quod dolorum tempore, laboriosam velit nemo, eveniet ipsam
    deleniti veniam dolorem neque eaque illum molestiae dolor fugit. Ut ullam
    autem quam, vitae velit officia saepe culpa minus, sunt asperiores nulla
    provident. Consequatur officiis tempore voluptatum, vero dolorum nam error?
    Cumque error sint itaque, sunt optio enim, possimus praesentium quibusdam
    labore cum quo necessitatibus velit numquam placeat similique tempora. Dicta
    quibusdam aperiam nam ut voluptas, dignissimos voluptatum quia enim cum fuga
    at deleniti veritatis necessitatibus dolorum pariatur sed quasi odit,
    dolores vitae quidem aliquam magnam cumque? Magnam consequuntur enim
    ducimus, corporis quae tenetur voluptatem cumque error esse rem ratione quo
    optio impedit nobis aliquam cupiditate facilis delectus maiores doloribus
    aspernatur. Repellat consequuntur magnam placeat, nulla dolorum mollitia
    optio alias non perspiciatis atque ratione nihil aspernatur blanditiis
    voluptatibus, autem ipsa fugit nostrum nam architecto hic, explicabo
    reprehenderit quia ut id?</p>
    
  <img src="../img/1.jpg" alt="croissants">
  <h2 class="heading-2">Круассаны</h2>
  <p class="text">Круасса́н (фр. croissant — «полумесяц») — булочка в форме полумесяца
    (рогалика) из слоёного теста. Очень популярный продукт французской кухни,
    подаётся на завтрак к кофе для взрослых или к какао («горячему шоколаду»
    по-французски) для детей; своеобразный символ этой страны. </p>

  <img src="../img/2.jpg" alt="cake">
  <h2 class="heading-2">Пирог</h2>
  <p class="text">Пиро́г — хлебобулочное изделие из теста с начинкой, которое выпекается или
    жарится. Начинка для пирогов может быть сладкой (ягоды, фрукты, творог, мак)
    или несладкой (рыба, мясной фарш, печень, картофель, грибы и т. д.). Масса
    пирога от 0,5 кг и выше. </p>

  <img src="../img/3.jpg" alt="mantis">
  <h2 class="heading-2">Манты</h2>
  <p class="text">Манты́ — традиционное, преимущественно мясное блюдо народов Центральной
    Азии, Турции, Монголии, Кореи, России (Татарстана, Башкортостана), Украины
    (Крыма), Таджикистана, Киргизии, Казахстана, Узбекистана и Китая, состоящее
    из мелко нарубленного мяса в тонко раскатанном тесте, приготовленное на пару
    в мантоварке (манты́-каскане/манты-казане). </p>

</body>

</html>