<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Shop</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <link rel="stylesheet" href="style.css">
</head>

<body>

  <header class="header">
    <div class="header__container container">
      <div class="header__left">
        <a href="index.html"><img class="header__logo" src="images/logo.png"
            alt="Logo"></a>
        <button class="header__search" type="button"><img
            src="images/icons/search.png" alt="Search"></button>
      </div>
      <div class="header__right">
        <button class="header__burger" type="button"><img
            src="images/icons/burger.png" alt="Burger"></button>
        <a class="header__user" href="#"><img src="images/icons/user.png"
            alt="User"></a>
        <a class="header__cart" href="#"><img class="header__cart-icon"
            src="images/icons/cart.png" alt="Cart"></a>
      </div>
    </div>
  </header>

  <section class="brand">
    <div class="brand__left">
      <img class="brand__foto" src="images/layer.png" alt="Foto">
    </div>
    <div class="brand__right">
      <div class="brand__heading-wrap">
        <h1 class="brand__heading-top">the&nbsp;brand</h1>
        <p class="brand__heading-bottom">of&nbsp;luxerious&nbsp;<span
            class="brand__fashion">fashion</span></p>
      </div>
    </div>
  </section>

  <div class="container">
    <div class="offer">
      <article class="offer__women">
        <img class="offer__women-img" src="images/background/women1.jpg"
          alt="women">
        <h3 class="offer__women-text">30% off<br><strong>for women</strong></h3>
      </article>
      <article class="offer__men">
        <img class="offer__men-img" src="images/background/men1.jpg" alt="men">
        <h3 class="offer__men-text">hot deal<br><strong>for men</strong></h3>
      </article>
      <article class="offer__kids">
        <img class="offer__kids-img" src="images/background/kids1.jpg"
          alt="kids">
        <h3 class="offer__kids-text">new arrivals<br><strong>for kids</strong>
        </h3>
      </article>
      <article class="offer__accesories">
        <h3>luxirous & trendy<br><strong>accesories</strong></h3>
      </article>
    </div>
  </div>
  <div class="container">

    <section class="featured-items">
      <h2 class="featured-items__head">Fetured Items</h2>
      <p class="featured-items__description">Shop for items based on what we
        featured in this week</p>
      <div class="featured-items__cards">
        <article class="featured-items__product-card">
          <figure>
            <div class="featured-items__top">
              <img class="featured-items__product-img"
                src="images/product/2.jpg" alt="man in blue jacket">
              <div class="featured-items__cart">
                <button class="featured-items__cart-button"><img
                    src="images/icons/cart.png" alt="cart">Add to
                  Cart</button>
              </div>
            </div>
            <figcaption class="featured-items__info">
              <h5 class="featured-items__info-header">ellery x m'o capsule</h5>
              <p class="featured-items__info-description">Known for her
                sculptural takes on traditional tailoring,
                Australian arbiter of cool Kym Ellery teams up with Moda
                Operandi.
              </p>
              <span class="featured-items__info-price">$52.00</span>
            </figcaption>
          </figure>
        </article>
        <article class="featured-items__product-card">
          <figure>
            <div class="featured-items__top">
              <img class="featured-items__product-img"
                src="images/product/3.jpg" alt="man in blue jacket">
              <div class="featured-items__cart">
                <button class="featured-items__cart-button"><img
                    src="images/icons/cart.png" alt="cart">Add to
                  Cart</button>
              </div>
            </div>
            <figcaption class="featured-items__info">
              <h5 class="featured-items__info-header">ellery x m'o capsule</h5>
              <p class="featured-items__info-description">Known for her
                sculptural takes on traditional tailoring,
                Australian arbiter of cool Kym Ellery teams up with Moda
                Operandi.
              </p>
              <span class="featured-items__info-price">$52.00</span>
            </figcaption>
          </figure>
        </article>
        <article class="featured-items__product-card">
          <figure>
            <div class="featured-items__top">
              <img class="featured-items__product-img"
                src="images/product/5.jpg" alt="man in blue jacket">
              <div class="featured-items__cart">
                <button class="featured-items__cart-button"><img
                    src="images/icons/cart.png" alt="cart">Add to
                  Cart</button>
              </div>
            </div>
            <figcaption class="featured-items__info">
              <h5 class="featured-items__info-header">ellery x m'o capsule</h5>
              <p class="featured-items__info-description">Known for her
                sculptural takes on traditional tailoring,
                Australian arbiter of cool Kym Ellery teams up with Moda
                Operandi.
              </p>
              <span class="featured-items__info-price">$52.00</span>
            </figcaption>
          </figure>
        </article>
        <article class="featured-items__product-card">
          <figure>
            <div class="featured-items__top">
              <img class="featured-items__product-img"
                src="images/product/13.jpg" alt="man in blue jacket">
              <div class="featured-items__cart">
                <button class="featured-items__cart-button"><img
                    src="images/icons/cart.png" alt="cart">Add to
                  Cart</button>
              </div>
            </div>
            <figcaption class="featured-items__info">
              <h5 class="featured-items__info-header">ellery x m'o capsule</h5>
              <p class="featured-items__info-description">Known for her
                sculptural takes on traditional tailoring,
                Australian arbiter of cool Kym Ellery teams up with Moda
                Operandi.
              </p>
              <span class="featured-items__info-price">$52.00</span>
            </figcaption>
          </figure>
        </article>
        <article class="featured-items__product-card">
          <figure>
            <div class="featured-items__top">
              <img class="featured-items__product-img"
                src="images/product/4.jpg" alt="man in blue jacket">
              <div class="featured-items__cart">
                <button class="featured-items__cart-button"><img
                    src="images/icons/cart.png" alt="cart">Add to
                  Cart</button>
              </div>
            </div>
            <figcaption class="featured-items__info">
              <h5 class="featured-items__info-header">ellery x m'o capsule</h5>
              <p class="featured-items__info-description">Known for her
                sculptural takes on traditional tailoring,
                Australian arbiter of cool Kym Ellery teams up with Moda
                Operandi.
              </p>
              <span class="featured-items__info-price">$52.00</span>
            </figcaption>
          </figure>
        </article>
        <article class="featured-items__product-card">
          <figure>
            <div class="featured-items__top">
              <img class="featured-items__product-img"
                src="images/product/6.jpg" alt="man in blue jacket">
              <div class="featured-items__cart">
                <button class="featured-items__cart-button"><img
                    src="images/icons/cart.png" alt="cart">Add to
                  Cart</button>
              </div>
            </div>
            <figcaption class="featured-items__info">
              <h5 class="featured-items__info-header">ellery x m'o capsule</h5>
              <p class="featured-items__info-description">Known for her
                sculptural takes on traditional tailoring,
                Australian arbiter of cool Kym Ellery teams up with Moda
                Operandi.
              </p>
              <span class="featured-items__info-price">$52.00</span>
            </figcaption>
          </figure>
        </article>
        </ul>
        <button class="featured-items__button">Browse All Product</button>
    </section>
  </div>

  <div class="servises">
    <div class="container">
      <div class="servises__list">
        <article class="servises__item">
          <img class="servises__icon-car" src="images/icons/car.svg" alt="car">
          <div class="servises__item-wrap">
            <h5 class="servises__item-header">Free Delivery</h5>
            <p class="servises__item-description">Worldwide delivery on all. Authorit tively morph next&#8209generation
              innov tion with extensive models.</p>
          </div>
        </article>
        <article class="servises__item">
          <img class="servises__icon-sales" src="images/icons/sales.svg" alt="car">
          <div class="servises__item-wrap">
            <h5 class="servises__item-header">Sales & discounts</h5>
            <p class="servises__item-description">Worldwide delivery on all. Authorit tively morph next&#8209generation
              innov tion with extensive models.</p>
          </div>

        </article>
        <article class="servises__item">
          <img class="servises__icon-crown" src="images/icons/crown.svg" alt="car">
          <div class="servises__item-wrap">
            <h5 class="servises__item-header">Quality assurance</h5>
            <p class="servises__item-description">Worldwide delivery on all. Authorit tively morph next&#8209generation
              innov tion with extensive models.</p>
          </div>
        </article>
      </div>
    </div>
  </div>
  <footer class="footer">
    <div class="footer__top">
      <div class="footer__top-backlight">
        <div class="container">
          <div class="footer__top-wrap">
            <div class="footer__recall">
              <img class="footer__recall-photo" src="images/avatar/user1.png" alt="photo">
              <p class="footer__recall-text">“Vestibulum quis porttitor dui! Quisque viverra nunc mi, <em>a pulvinar
                  purus
                  condimentum</em>“</p>
            </div>
            <div class="footer__subscribe">
              <h3 class="footer__subscribe-header"><strong>subscribe</strong><br> for our newletter and promotion</h3>
              <form class="footer__subscribe-form" action="subscribe">
                <input class="footer__form-email" type="email" placeholder="Enter Your Email">
                <input class="footer__form-submit" type="submit" value="Subscribe">
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer__bottem">
      <div class="container">
        <div class="footer__bottem-wrap">
          <span class="footer__copy">&copy; 2021 Brand All Rights Reserved.</span>
          <ul class="footer__social-networks">
            <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-pinterest-p"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</body>

</html>